services:
  api: 
    expose:
      - ${API_PORT}
      - VIRTUAL_HOST=dnd-api.atimo.dev
      - LETSENCRYPT_HOST=dnd-api.atimo.dev

  mainDb:
    image: mongodb/mongodb-community-server:latest
    ports:
      - 27017:27017
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:rw
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - dndNetwork
  acme-companion:
    image: nginxproxy/acme-companion
    container_name: acme-companion
    restart: always
    volumes:
      - ./certs:/etc/nginx/certs:rw
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - dndNetwork
    depends_on:
      - nginx-proxy


networks:
  dndNetwork:
    external: true
