services:
  api: 
    build: .
    container_name: dnd-api
    env_file:
      - ./dnd-api.env
    networks:
      - dndNetwork
  mainDb:
    image: mongodb/mongodb-community-server:latest
    container_name: dnd-db
    env_file:
      - ./dnd-db.env
    networks:
      - dndNetwork
    volumes:
      - db_data:/data/db

networks:
  dndNetwork:

volumes:
  db_data:  
